In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

# Pandas options
pd.set_option("display.html.use_mathjax", False)
pd.set_option("display.precision", 3)
pd.set_option('display.max_columns', None)

# dataset dir
data_dir = "data/"

# define file paths
survey_files = [
    "model_average_SP.csv",
    "model_average_RP.csv",
    "model_average_sim",
]

# read a sample of the data
df_sp = pd.read_csv(data_dir + survey_files[0])
df_sp.columns = df_sp.columns.str.upper()
df_sp[['AV1', 'AV2']] = 1
display(df_sp.head())
display(df_sp.describe())

,ID,CHOICE,TT1,TC1,HW1,CH1,TT2,TC2,HW2,CH2,HH_INC_ABS,CAR_AVAILABILITY,COMMUTE,SHOPPING,BUSINESS,LEISURE,AV1,AV2
0,1,2,23,3,15,2,31,2,15,1,90000,1,0,0,0,1,1,1
1,1,2,17,3,60,2,24,2,60,0,90000,1,0,0,0,1,1,1
2,1,1,18,3,15,0,26,2,60,0,90000,1,0,0,0,1,1,1
3,1,2,28,3,15,2,35,2,15,1,90000,1,0,0,0,1,1,1
4,1,2,23,3,60,2,31,2,30,0,90000,1,0,0,0,1,1,1

,ID,CHOICE,TT1,TC1,HW1,CH1,TT2,TC2,HW2,CH2,HH_INC_ABS,CAR_AVAILABILITY,COMMUTE,SHOPPING,BUSINESS,LEISURE,AV1,AV2
count,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.000,2790.0,2790.0
mean,155.500,1.502,52.652,19.327,32.468,0.938,52.566,19.367,32.489,0.946,77790.323,0.374,0.281,0.084,0.087,0.548,1.0,1.0
std,89.505,0.500,46.862,22.550,18.446,0.805,46.644,22.962,18.539,0.802,45184.236,0.484,0.449,0.277,0.282,0.498,0.0,0.0
min,1.000,1.000,2.000,1.000,15.000,0.000,2.000,1.000,15.000,0.000,10000.000,0.000,0.000,0.000,0.000,0.000,1.0,1.0
25%,78.000,1.000,18.000,5.000,15.000,0.000,18.000,5.000,15.000,0.000,50000.000,0.000,0.000,0.000,0.000,0.000,1.0,1.0
50%,155.500,2.000,36.000,10.000,30.000,1.000,36.000,10.000,30.000,1.000,70000.000,0.000,0.000,0.000,0.000,1.000,1.0,1.0
75%,233.000,2.000,75.000,25.000,60.000,2.000,73.000,25.000,60.000,2.000,112500.000,1.000,1.000,0.000,0.000,1.000,1.0,1.0
max,310.000,2.000,327.000,206.000,60.000,2.000,385.000,268.000,60.000,2.000,167500.000,1.000,1.000,1.000,1.000,1.000,1.0,1.0